/* Don't change the existing CSS. */
#outer-box{
  background-color: purple;
}
.box {
  background-color: blue;
  padding: 10px;forced-color-adjust: auto;
}
.inner-box{
  background-color: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}
.white-text{
  color: white;
}